.ee-meeting-panel {
    &--dims {
        width: 30%;
        height: 30%;
    }
}
.ee-meeting {
    height: 100%;
    // width: fit-content;
    // overflow-x: scroll;
    justify-content: center;
    position: relative;
}