.ee-width {
    &--100p     { width: 100%;      }
    &--90p      { width: 90%;       }
    &--80p      { width: 80%;       }
    &--70p      { width: 70%;       }
    &--60p      { width: 60%;       }
    &--50p      { width: 50%;       }
}


.ee-height {
    &--100p     { height: 100%;      }
    &--90p      { height: 90%;       }
    &--80p      { height: 80%;       }
    &--70p      { height: 70%;       }
    &--60p      { height: 60%;       }
    &--50p      { height: 50%;       } 
}