.ee-margin {
    &--auto         { margin: auto;                             }
    &--vertical0    { margin-top: 0rem; margin-bottom: 0rem;    }
    &--vertical1    { margin-top: 1rem; margin-bottom: 1rem;    }
    &--vertical2    { margin-top: 2rem; margin-bottom: 2rem;    }
    &--vertical5    { margin-top: 5rem; margin-bottom: 5rem;    }
    &--horizontal1  { margin-left: 1rem; margin-right: 1rem;    }
    &--left1        { margin-left: 1rem !important;     }
    &--right1       { margin-right: 1rem !important;    }    
    &--right05      { margin-right: 0.5rem !important;  }    
}