.ee-margin {
    &--auto         { margin: auto;                             }
    &--vertical0    { margin-top: 0rem; margin-bottom: 0rem;    }
    &--vertical1    { margin-top: 1rem; margin-bottom: 1rem;    }
    &--vertical2    { margin-top: 2rem; margin-bottom: 2rem;    }
    &--left1        { margin-left: 1rem; }
}