.ee-canvas {
    // height: 46rem;

    &--wrapper {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        height: fit-content;
        padding: 1rem;
        overflow-y: scroll;
        &-blocked {
            overflow-y: hidden;
        }
    }
}
.ee-canvas--wrapper .react-p5 {
    height: fit-content;
    overflow-x: scroll;
    box-shadow: 0 0 0.5rem #ddd;
}
.ee-canvas--wrapper-blocked .react-p5{
    overflow-x: hidden;
}


.ee-canvas-toolbar {
    flex-wrap: wrap;

    @media screen and (max-width: 40rem) {
        padding-top: 0.25rem;
        position: fixed;
        bottom: 0;
        align-self: center;
        opacity: 0;
        transition: 0.5s;
        z-index: -1;
    }

    @media screen and (max-height: 40rem) {
        padding-top: 0.25rem;
        position: fixed;
        bottom: 0;
        align-self: center;
        opacity: 0;
        transition: 0.5s;
        z-index: -1;
    }

    &--expanded {
        @media screen and (max-width: 40rem) {
            background-color: white;
            opacity: 0.95;
            z-index: 99;
        }

        @media screen and (max-height: 40rem) {
            background-color: white;
            opacity: 0.95;
            z-index: 99;
        }
    }

    &--toggle {
        display: none;
        
        @media screen and (max-width: 40rem) {
            &:hover {
                background-color: rgba(0,0,0,0.9);
            }
            display: block;
            position: fixed;
            bottom: 0.5rem;
            right: 0.5rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 1.5rem;
            z-index: 100;
            background-color: rgba(0,0,0,0.5);
            font-size: 1.5rem;
            transition: 0.5s;
        }

        @media screen and (max-height: 40rem) {
            &:hover {
                background-color: rgba(0,0,0,0.9);
            }
            display: block;
            position: fixed;
            bottom: 0.5rem;
            right: 0.5rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 1.5rem;
            z-index: 100;
            background-color: rgba(0,0,0,0.5);
            font-size: 1.5rem;
            transition: 0.5s;
        }

        &-active {
            background-color: rgba(0,0,0,0.9);
        }

        
    }
    &--colors {
        display: grid;
        grid-template-rows: 2rem 2rem;
        gap: 0.25rem 0.25rem;
        grid-template-columns: repeat(10, 2rem);
        button {
            width: 2rem;
            height: 2rem;
            margin: 0;
            padding: 0;
        }
    }
    &--current {
        width: 3rem;
        height: 3rem;
        margin: 0.625rem;
        transition: background-color 0.25s ease-in-out;
    }
    &--tool {
        background-color: rgba(0,0,0,0);
        font-size: 2rem;
        margin: 1rem 0.25rem;

        @media screen and (max-width: 40rem) { margin: 0.25rem; }
        @media screen and (max-height: 30rem) { margin: 0.25rem; }

        &-tiny      { font-size: 0.8rem;    }
        &-small     { font-size: 1rem;      }
        &-regular   { font-size: 1.5rem;    }
        &-large     { font-size: 2rem;      }
    }
    &--icon {
        pointer-events: none;
        color: #2C3E50;
        transition: filter 0.25s linear;

        &-active {
            filter: drop-shadow(0 0 0.35rem crimson);
        }
    }
}