.ee-chat-container {
    height: 30rem;

    &-messages {
        height: 80%;
        overflow-y: auto;
    }
}

.ee-chat-container-2 {
    width: 15rem;
    height: 30rem;
}

.ee-message {
    &--container {
        margin: 0.2rem;
        max-width: 80%;
        width: fit-content;
        height: fit-content;

        p {
            margin: 0;
        }
    }


    &--foreign {
        border-radius: 1rem;
        background-color: $bg-message-foreign;
    }

    &--self {
        border-radius: 1rem;
        background-color: $bg-message-self;
    }
}