.ee-menu {
    min-width: 15rem;
    width: 15rem;
    padding: 0.5rem;
    // transition: width 0.5s ease-in;

    &--closed {
        min-width: 3rem;
        width: 3rem;
        padding: 0.25rem;
        // transition: width 0.5s ease-in;
    }

    &--xbtn {
        background-color: rgba(0,0,0,0);
        color: black;
        font-size: 1.5rem;
        width: fit-content;
        height: fit-content;
    }

    &--icon {
        transform: rotate(0deg);
        transition: transform 0.25s ease-in-out;

        &-active {
            transform: rotate(180deg);
            transition: transform 0.5s ease-in-out;
        }
    }
}