.ee-c-popover .popover-content {
    width: fit-content;

    @media screen and (max-width: 40rem) {
        width: 18rem;
    }

    p {
        font-style: italic;
    }
}

.ee-c-popover--select {
    min-width: 15rem !important;
    max-width: 15rem !important;
    margin-left: 3rem;
}
